# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Data
data/fluentd/log
data/redis/data
data/postgres/postgresql

# Other
tmp
.idea
*.iml
.DS_Store
