{{ template "header.html" .}}

<div class="container todo-list-component">

  <h1>{{.title}}</h1>

  <div class="input-group mb-3">
    <input id="add-input" type="text" class="form-control" placeholder="Enter a task">
    <div class="input-group-append">
      <button id="add-btn" class="btn btn-primary" type="button">Add</button>
    </div>
  </div>

  <div class="input-group mb-3">
    <button id="hide-complete-btn" class="btn btn-primary btn-sm"></button>
  </div>

  <ul class="list-group"></ul>

</div>

{{ template "footer.html" .}}
